@media (max-width: 1200px) {

}
@media (max-width: 992px) {
  .container-xl {
    padding: 0 30px;
  }
  html {
    scroll-padding-top: 70px;
  }
  .nav-open-js {
    overflow: hidden;
  }
  .w-75 {
    width: 100% !important;
  }
  .header {
    height: 60px;
    border-right: none;
    .header_inner {
      padding: 0 80px;
      width: 100%;
      .header__button-menu {
        margin: 0 0 0 20px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        overflow: hidden;
        width: 50px;
        height: 20px;
        align-items: center;
        cursor: pointer;
        transition: opacity 0.5s ease;
        position: relative;
        &:before {
          content: 'Menu';
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          display: inline-flex;
          align-items: center;
          transition: all 1s ease;
          transform: translate(0, 0);
        }
        &:after {
          content: 'Close';
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          display: inline-flex;
          align-items: center;
          opacity: 0;
          visibility: hidden;
          transition: all 1s ease;
          transform: translate(0, 20px);
        }
        &.active {
          &:before {
            transform: translate(0, -20px);
            opacity: 0;
            visibility: hidden;
          }
          &:after {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
          }
        }
        .my-blog__popup--js & {
          opacity: 0;
          transition-delay: 0.5s;
        }
      }
      .header__nav {
        position: fixed;
        top: 71px;
        bottom: 0;
        left: 0;
        right: 0;
        visibility: hidden;
        .header__navigation {
          margin: 0;
          z-index: 3;
          > li {
            margin: 10px 0;
            padding: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.8s ease;
            transform: translate(0, 5px);
            text-align: center;
            width: 200px;
            > a {
              text-align: center;
            }

            > a {
              font-size: 18px;
            }
            @for $i from 1 through 20 {
              &:nth-child(#{$i}) {
                transition-delay:(#{($i+1)*0.1s});
              }
            }
            .nav-open-js & {
              opacity: 1;
              visibility: visible;
              transform: translate(0, 0px);
            }
          }

        }
        .nav-open-js & {
          visibility: visible;
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: var(--bg);
          z-index: 1;
          opacity: 0;
          visibility: hidden;
          transition: opacity .5s ease;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 2;
          background-color: var(--bg);
          visibility: hidden;
          transition-delay: 1s;
          -moz-transition-duration: 1s;
          -webkit-transition-duration: 1s;
          transition-duration: 1s;
        }
        .nav-open-js & {
          &:before {
            opacity: 1;
            visibility: visible;
          }
          &:after {
            visibility: visible;
          }
        }
      }
      .button-dark-mode {
        padding: 21px 30px;
        transition: opacity 0.5s ease;
        .my-blog__popup--js & {
          opacity: 0;
          transition-delay: 0.5s;
        }
      }
    }
    &.w-25 {
      width: 100% !important;
    }
  }
  .header--fixed {
    height: 60px;
    //position: fixed;
    //top: -70px;
  }

  .about-me {
    .about-me__avatar {
      .about-me__clients {
        right: -95px;
      }
      .about-me__awards {
        left: -50px;
      }
      .about-me__exp {
        bottom: 10px;
      }
    }
  }

  .my-service {
    .my-service__inner {
      .my-service__left {
        padding: 0;
      }
      .my-service__right {
        .my-service__list {
          max-height: 950px;
        }
      }
    }
  }
  .my-project {
    .my-project__inner {
      .project__list {
        .product__item {
          width: 50%;
          figure {

          }
          &:hover {

          }
        }
      }
    }
  }

}
@media (max-width: 768px) {

  .heading-default {
    margin: 0 0 40px;
    font-size: 46px;
    &:after {
      width: 250px;
      height: 30px;
    }
  }

  .my-resume {
    .my-resume__list {
      .my-resume__item {
        .experience__list {
          .experience__item {
            &:last-child {
              margin: 0 0 30px;
            }
          }
        }
      }
    }
  }

  .my-service {
    .my-service__inner {
      .my-service__left {
        padding: 0;
      }
      .my-service__right {
        .my-service__list {
          max-height: 1050px;
        }
      }
    }
  }

  .my-project {
    .my-project__inner {
      .project__list {
        .product__item {
          width: 50%;
          figure {
            .product__view {
              height: 60px;
              &:before {
                margin: 0 auto;
              }
            }
          }
          &:hover {
            .product__view {
              &:before {
                height: 20px;
              }
            }
          }
        }
      }
    }
  }

  .my-blog {
    .my-blog__inner {
      .my-blog__list {
        .my-blog__items {
          padding: 0 15px 30px;
          .my-blog__items--inner {
            .my-blog__detail  {
              .my-blog__items--content {
                h3 {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  .contact {
    .contact__inner {

    }
  }

}

@media (max-width:576px) {
  .header {
    .header_inner {
      padding: 0 20px;
    }
  }

  .container-xl {
    padding: 0 20px;
  }
  .header--fixed {
    //height: 65px;
  }
  .header {
    .head__fix & {
      top: -65px;
    }
    .head__show & {
      top: 0;
    }
    .header_inner {
      height: 60px;
      .header__nav {
        top: 66px;
        .header__navigation {
          li {
            &.menu-item-has-children:before {
              content: '';
              display: none;
            }
            &:after {
              display: none !important;
            }
          }
        }
      }
    }
  }
  .my-resume {
    padding-top: 60px;
    padding-bottom: 60px;
    .col-12 {
      &.col-md-6 {
        padding-right: calc(var(--bs-gutter-x)*.5) !important;
        padding-left: calc(var(--bs-gutter-x)*.5) !important;
      }
    }

    .my-resume__item {
      .my-resume__skill--item {
        margin: 0 0 30px;
        padding: 0;
        > label {
          width: 180px;
          font-size: 15px;
        }
        > div {
          .count {
            font-size: 14px;
          }
        }
      }
      .experience__list {
        .experience__item {
          &:last-child {
            margin: 0 0 30px;
          }
        }
      }
      .heading-default__small {
        &:after {
          width: 50px;
          height: 8px;
        }
      }
    }
  }
  .about-me {
    padding: 60px 0;
    height: auto;
    .about-me__avatar {
      .about-me__clients {
        width: 100px;
        height: 60px;
        bottom: 0;
        top: 55px;
        right: -40px;
        font-size: 12px;
        .brand {
          display: none;
        }
      }
      .about-me__awards {
        width: 85px;
        height: 85px;
        top: 0;
        left: -20px;
        font-size: 12px;
        &:before {
          width: 40px;
          height: 70px;
          left: -40px;
          bottom: -45px;
        }
        i {
          display: none;
        }
      }
      .about-me__exp {
        width: 160px;
        height: 55px;
        font-size: 12px;
        bottom: 0;
        strong {
          font-size: 36px;
        }
        &:before {
          width: 100px;
          height: 48px;
          bottom: -50px;
          right: -25px;
        }
      }
    }
    .about-me__name {
      margin: 0 0 20px;
      font-size: 36px;
      strong {
        font-size: 52px;
      }
    }
    .about-me__intro {
      margin: 20px 0 0;
    }
    .about-me__contact {
      margin: 20px 0 0;
    }
  }

  @keyframes animation-awards {
    0% {
      left: -40px;
      bottom: -45px;
    }
    100% {
      left: -55px;
      bottom: -60px;
    }
  }

  @keyframes animation-exp {
    0% {
      bottom: -50px;
    }
    100% {
      bottom: -65px;
    }
  }

  .highlight {
    .highlight__item {
      padding: 0 0 0 25px;
    }
  }

  .heading-default {
    margin: 0 0 30px;
    font-size: 42px;
  }

  .heading-default__small {
    font-size: 18px;
  }

  .my-service {
    padding-top: 60px;
    padding-bottom: 60px;
    .my-service__inner {
      .my-service__left {
        padding: 0;
        .my-service__left--heading {
          font-size: 28px;
        }
      }
      .my-service__right {
        .my-service__list {
          margin-bottom: -20px;
          max-height: inherit;
          .my-service__item {
            margin: 0 0 20px;
            width: 100%;
            &:nth-child(1) {
              margin: 0 0 20px;
            }
          }
        }
      }
    }
  }

  .my-project {
    padding-top: 60px;
    padding-bottom: 60px;
    .my-project__inner {
      .my-project__nav {
        li {
          margin: 0 5px 5px;
        }
      }
      .project__list {
        .product__item {
          padding: 10px 15px;
          width: 100%;
        }
      }
    }
  }

  .my-client {
    padding-top: 60px;
    padding-bottom: 60px;
    .my-client__list {
      .my-client__item {
        .my-client__intro {
          padding: 0 20px;
        }
      }
    }


    .my-client__list--thumb {
      .owl-stage {
        .owl-item {
          figure {
            margin: 10px 5px !important;
            width: 50px;
            height: 50px;
            &:after {
              width: 45px;
              height: 10px;
              top: -3px;
              left: 4px;
            }
          }
        }
      }
    }
  }

  .my-blog {
    padding-top: 60px;
    padding-bottom: 60px;
    .my-blog__inner {
      .my-blog__list {
        .my-blog__items {
          padding: 0 15px 30px;
          width: 100%;
          .my-blog__items--inner {
            .my-blog__detail  {
              .my-blog__items--content {
                h3 {
                  &:after {
                    margin: 10px 0 0;
                    width: 130px;
                    height: 13px;
                  }
                }
                .entry {
                  margin: 10px 0 0;
                }
              }
            }
          }
        }
      }
      .my-blog__button {
        margin: 15px 0 0;
      }
    }
  }

  .contact {
    padding-top: 60px;
    padding-bottom: 60px;
    &:before {
      height: 40px;
    }
    .contact__inner {
      .contact__list {
        margin: 0 0 15px;
        flex-direction: column;
        flex-wrap: wrap;
        .contact__item {
          flex: auto;
        }
      }
      .contact__form {
        .form__row {
          margin: 0 -8px;
          flex-wrap: wrap;
          .form__item {
            margin: 0 8px 15px;
            flex: auto;
          }
        }
      }
    }
  }
  .block-default {
    padding: 30px 0;
  }
  .block-default__inner {
    padding: 30px;
    .heading-default-single {
      font-size: 26px;
    }
  }
  .price {
    .price__list {
      flex-wrap: wrap;
      .price__item {
        margin: 0 0 30px;
        width: 100%;
      }
    }
  }

}